In [72]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame
import glob

In [73]:
# glob 모듈의 glob 함수를 이용해서 구별 csv 파일이름 불러오기
# 각자 실행 환경 및 디렉토리 설정에 맞게 경로를 잘 맞출 것
file_list = glob.glob('./seoul_hairsalon_data/*.csv')
file_list

['./seoul_hairsalon_data\\dobong_salon.csv',
 './seoul_hairsalon_data\\dondaemun_salon.csv',
 './seoul_hairsalon_data\\dongjak_salon.csv',
 './seoul_hairsalon_data\\enpyeong_salon.csv',
 './seoul_hairsalon_data\\gangbuk_salon.csv',
 './seoul_hairsalon_data\\gangdong_salon.csv',
 './seoul_hairsalon_data\\gangnam_salon.csv',
 './seoul_hairsalon_data\\gangseo_salon.csv',
 './seoul_hairsalon_data\\geumcheon_salon.csv',
 './seoul_hairsalon_data\\guro_salon.csv',
 './seoul_hairsalon_data\\gwanak_salon.csv',
 './seoul_hairsalon_data\\gwangjin_salon.csv',
 './seoul_hairsalon_data\\jongro_salon.csv',
 './seoul_hairsalon_data\\joonggu_salon.csv',
 './seoul_hairsalon_data\\joonglang_salon.csv',
 './seoul_hairsalon_data\\mapo_salon.csv',
 './seoul_hairsalon_data\\nowon_salon.csv',
 './seoul_hairsalon_data\\seocho_salon.csv',
 './seoul_hairsalon_data\\seodaemun_salon.csv',
 './seoul_hairsalon_data\\seongbuk_salon.csv',
 './seoul_hairsalon_data\\seongdong_salon.csv',
 './seoul_hairsalon_data\\songpa_salon.csv',
 './seoul_hairsalon_data\\yangcheon_salon.csv',
 './seoul_hairsalon_data\\ydp_salon.csv',
 './seoul_hairsalon_data\\yongsan_salon.csv']

In [74]:
# 파일 개수 확인 - 25개
len(file_list)

25

In [75]:
# 한글로 지역명이 담긴 list 생성
district_list = [
'도봉'
, '동대문'
, '동작'
, '은평'
, '강북'
, '강동'
, '강남'
, '강서'
, '금천'
, '구로'
, '관악'
, '광진'
, '종로'
, '중구'
, '중랑'
, '마포'
, '노원'
, '서초'
, '서대문'
, '성북'
, '성동'
, '송파'
, '양천'
, '영등포'
 ,'용산']

In [76]:
# 지역명 개수 확인 - 25개
len(district_list)

25

In [77]:
# 25개의 csv파일을 읽어 생성한 DF를 저장할 리스트 생성
# range() 함수로 25개 요소 생성
df_list = list(range(25))

In [78]:
# 파일명이 저장된 file_list에서 하나씩 가져와 read_csv() 함수로 df_list에 저장
for i, file in enumerate(file_list):
    df_list[i] = pd.read_csv(file, encoding='cp949')

In [79]:
# 25개 데이터가 모두 저장된 df_list
df_list[:1]

[        시군구코드  업종코드    년도  업소일련번호      업종명      신고일자      업소명  영업장면적(㎡)  \
 0     3090000   211  1971       1  미용업(일반)  19710527    샛별미용실     29.05
 1     3090000   211  1974       1  미용업(일반)  19740510     장미용실     13.69
 2     3090000   211  1977       1  미용업(일반)  19770128  자기연출미용실     18.00
 3     3090000   211  1977       2  미용업(일반)  19770928       세나     18.36
 4     3090000   211  1978       1  미용업(일반)  19780522       형제     49.50
 ...       ...   ...   ...     ...      ...       ...      ...       ...
 1061  3090000   211  2020       3  미용업(일반)  20200123     다연헤어     26.40
 1062  3090000   211  2020       4  미용업(일반)  20200213  리안헤어신창점     46.29
 1063  3090000   211  2020       5  미용업(일반)  20200218   수앤지헤어샵     27.00
 1064  3090000   211  2020       6  미용업(일반)  20200218    강민주헤어     16.96
 1065  3090000   211  2020       7  미용업(일반)  20200219      헤어팜     15.00

          소재지전화번호    영업자시작일  ...  양실수  의자수  욕실수  발한실 세탁기수  \
 0     02 9933947  19710527  ...  0.0  4.0  0.0    N  NaN
 1        9024674  20030318  ...  NaN  2.0  NaN    N  NaN
 2     02 9916085  19990127  ...  0.0  3.0  0.0    N  0.0
 3     02 9928457  19770928  ...  NaN  2.0  NaN    N  NaN
 4     02 9542434  19780522  ...  NaN  5.0  NaN    N  NaN
 ...          ...       ...  ...  ...  ...  ...  ...  ...
 1061         NaN  20200123  ...  0.0  0.0  0.0    N  0.0
 1062         NaN  20200213  ...  0.0  0.0  0.0    N  0.0
 1063         NaN  20200218  ...  0.0  0.0  0.0    N  0.0
 1064         NaN  20200218  ...  0.0  0.0  0.0    N  0.0
 1065         NaN  20200219  ...  0.0  0.0  0.0    N  0.0

                     허가(신고)번호  내외국인구분   국적  \
 0     3090000-211-1971-00001     내국인  NaN
 1     3090000-211-1974-00001     내국인  NaN
 2     3090000-211-1977-00001     내국인  NaN
 3     3090000-211-1977-00002     내국인  NaN
 4     3090000-211-1978-00001     내국인  NaN
 ...                      ...     ...  ...
 1061  3090000-211-2020-00003     내국인  NaN
 1062  3090000-211-2020-00004     내국인  NaN
 1063  3090000-211-2020-00005     내국인  NaN
 1064  3090000-211-2020-00006     내국인  NaN
 1065  3090000-211-2020-00007     내국인  NaN

                                              소재지도로명  \
 0                           서울특별시 도봉구 삼양로 590 (쌍문동)
 1                        서울특별시 도봉구 도봉로121길 19 (쌍문동)
 2                        서울특별시 도봉구 삼양로154길 33 (쌍문동)
 3                          서울특별시 도봉구 덕릉로57길 22 (창동)
 4                           서울특별시 도봉구 마들로 731 (도봉동)
 ...                                             ...
 1061                   서울특별시 도봉구 도당로17길 22 1층 (방학동)
 1062                      서울특별시 도봉구 덕릉로 235 1층 (창동)
 1063                   서울특별시 도봉구 도봉로110바길 5 1층 (창동)
 1064  서울특별시 도봉구 덕릉로59아길 58 601동 1층 101호 (창동 북한산팰리스)
 1065                  서울특별시 도봉구 삼양로154길 42 1층 (쌍문동)

                                           소재지지번
 0                     서울특별시 도봉구 쌍문동  507번지 4호
 1                    서울특별시 도봉구 쌍문동  81번지 283호
 2                     서울특별시 도봉구 쌍문동  493번지 5호
 3                     서울특별시 도봉구 창동  581번지 27호
 4                    서울특별시 도봉구 도봉동  626번지 90호
 ...                                         ...
 1061                   서울특별시 도봉구 방학동  642번지  1층
 1062               서울특별시 도봉구 창동  578번지 146호  1층
 1063                서울특별시 도봉구 창동  651번지 34호  1층
 1064  서울특별시 도봉구 창동  607번지 25호 601 북한산팰리스 1층-101
 1065                서울특별시 도봉구 쌍문동  495번지 9호  1층

 [1066 rows x 29 columns]]

In [80]:
# df_list의 0번째 인덱스에는 도봉구의 데이터(DF)가 들어있다.
df_list[0].head()

,시군구코드,업종코드,년도,업소일련번호,업종명,신고일자,업소명,영업장면적(㎡),소재지전화번호,영업자시작일,...,양실수,의자수,욕실수,발한실,세탁기수,허가(신고)번호,내외국인구분,국적,소재지도로명,소재지지번
0,3090000,211,1971,1,미용업(일반),19710527,샛별미용실,29.05,02 9933947,19710527,...,0.0,4.0,0.0,N,NaN,3090000-211-1971-00001,내국인,NaN,서울특별시 도봉구 삼양로 590 (쌍문동),서울특별시 도봉구 쌍문동 507번지 4호
1,3090000,211,1974,1,미용업(일반),19740510,장미용실,13.69,9024674,20030318,...,NaN,2.0,NaN,N,NaN,3090000-211-1974-00001,내국인,NaN,서울특별시 도봉구 도봉로121길 19 (쌍문동),서울특별시 도봉구 쌍문동 81번지 283호
2,3090000,211,1977,1,미용업(일반),19770128,자기연출미용실,18.00,02 9916085,19990127,...,0.0,3.0,0.0,N,0.0,3090000-211-1977-00001,내국인,NaN,서울특별시 도봉구 삼양로154길 33 (쌍문동),서울특별시 도봉구 쌍문동 493번지 5호
3,3090000,211,1977,2,미용업(일반),19770928,세나,18.36,02 9928457,19770928,...,NaN,2.0,NaN,N,NaN,3090000-211-1977-00002,내국인,NaN,서울특별시 도봉구 덕릉로57길 22 (창동),서울특별시 도봉구 창동 581번지 27호
4,3090000,211,1978,1,미용업(일반),19780522,형제,49.50,02 9542434,19780522,...,NaN,5.0,NaN,N,NaN,3090000-211-1978-00001,내국인,NaN,서울특별시 도봉구 마들로 731 (도봉동),서울특별시 도봉구 도봉동 626번지 90호

In [81]:
# df_list에 저장된 각각의 DF에 column명만 불러오기 예시
df_list[0].columns

Index(['시군구코드', '업종코드', '년도', '업소일련번호', '업종명', '신고일자', '업소명', '영업장면적(㎡)',
       '소재지전화번호', '영업자시작일', '법인명', '소재지시작일', '행정동명', '폐업일자', '폐업사유', '업태명',
       '위생교육수료일자', '객실수', '한실수', '양실수', '의자수', '욕실수', '발한실', '세탁기수',
       '허가(신고)번호', '내외국인구분', '국적', '소재지도로명', '소재지지번'],
      dtype='object')

In [82]:
# 각각의 DF의 컬럼명이 같은지 비교
for i, df in enumerate(df_list):
    if i < 24:
        # i번쨰 DF 컬럼과 i+1번째 DF 컬럼을 비교한 불리언 배열에 False가 있는지 출력
        print(False in df_list[i].columns == df_list[i+1].columns ) 
    else:
        break

False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False

In [83]:
# 모든 DF의 컬럼명이 같음을 확인하였다.

In [84]:
# 모든 DF의 컬럼이 같으므로 0번째 컬럼을 대표로 col 변수에 저장
col = df_list[0].columns
col

Index(['시군구코드', '업종코드', '년도', '업소일련번호', '업종명', '신고일자', '업소명', '영업장면적(㎡)',
       '소재지전화번호', '영업자시작일', '법인명', '소재지시작일', '행정동명', '폐업일자', '폐업사유', '업태명',
       '위생교육수료일자', '객실수', '한실수', '양실수', '의자수', '욕실수', '발한실', '세탁기수',
       '허가(신고)번호', '내외국인구분', '국적', '소재지도로명', '소재지지번'],
      dtype='object')

In [85]:
# df_list에 저장된 모든 DF에 '지역'컬럼 추가하기
for i, df in enumerate(df_list):
    df_list[i] = df_list[i].reindex(columns=col.insert(0, '지역')) # '지역' 컬럼을 col에 추가해서 reindexing 하기
    df_list[i]['지역'] = district_list[i] # 생성된 '지역' 컬럼에 지역명(한글) 대입

In [86]:
# 0번째 컬럼에 '지역' 컬럼이 추가되고 그 값이 제대로 들어간 모습
# df_list의 0번째 DF인 도봉구의 데이터로 확인
df_list[0].head()

,지역,시군구코드,업종코드,년도,업소일련번호,업종명,신고일자,업소명,영업장면적(㎡),소재지전화번호,...,양실수,의자수,욕실수,발한실,세탁기수,허가(신고)번호,내외국인구분,국적,소재지도로명,소재지지번
0,도봉,3090000,211,1971,1,미용업(일반),19710527,샛별미용실,29.05,02 9933947,...,0.0,4.0,0.0,N,NaN,3090000-211-1971-00001,내국인,NaN,서울특별시 도봉구 삼양로 590 (쌍문동),서울특별시 도봉구 쌍문동 507번지 4호
1,도봉,3090000,211,1974,1,미용업(일반),19740510,장미용실,13.69,9024674,...,NaN,2.0,NaN,N,NaN,3090000-211-1974-00001,내국인,NaN,서울특별시 도봉구 도봉로121길 19 (쌍문동),서울특별시 도봉구 쌍문동 81번지 283호
2,도봉,3090000,211,1977,1,미용업(일반),19770128,자기연출미용실,18.00,02 9916085,...,0.0,3.0,0.0,N,0.0,3090000-211-1977-00001,내국인,NaN,서울특별시 도봉구 삼양로154길 33 (쌍문동),서울특별시 도봉구 쌍문동 493번지 5호
3,도봉,3090000,211,1977,2,미용업(일반),19770928,세나,18.36,02 9928457,...,NaN,2.0,NaN,N,NaN,3090000-211-1977-00002,내국인,NaN,서울특별시 도봉구 덕릉로57길 22 (창동),서울특별시 도봉구 창동 581번지 27호
4,도봉,3090000,211,1978,1,미용업(일반),19780522,형제,49.50,02 9542434,...,NaN,5.0,NaN,N,NaN,3090000-211-1978-00001,내국인,NaN,서울특별시 도봉구 마들로 731 (도봉동),서울특별시 도봉구 도봉동 626번지 90호

In [87]:
# df_list에 담긴 DF를 concat() 함수로 합치기
df_all = pd.concat(df_list)
df_all.head() # 상위 5개 데이터 확인

,지역,시군구코드,업종코드,년도,업소일련번호,업종명,신고일자,업소명,영업장면적(㎡),소재지전화번호,...,양실수,의자수,욕실수,발한실,세탁기수,허가(신고)번호,내외국인구분,국적,소재지도로명,소재지지번
0,도봉,3090000,211,1971,1,미용업(일반),19710527,샛별미용실,29.05,02 9933947,...,0.0,4.0,0.0,N,NaN,3090000-211-1971-00001,내국인,NaN,서울특별시 도봉구 삼양로 590 (쌍문동),서울특별시 도봉구 쌍문동 507번지 4호
1,도봉,3090000,211,1974,1,미용업(일반),19740510,장미용실,13.69,9024674,...,NaN,2.0,NaN,N,NaN,3090000-211-1974-00001,내국인,NaN,서울특별시 도봉구 도봉로121길 19 (쌍문동),서울특별시 도봉구 쌍문동 81번지 283호
2,도봉,3090000,211,1977,1,미용업(일반),19770128,자기연출미용실,18.00,02 9916085,...,0.0,3.0,0.0,N,0.0,3090000-211-1977-00001,내국인,NaN,서울특별시 도봉구 삼양로154길 33 (쌍문동),서울특별시 도봉구 쌍문동 493번지 5호
3,도봉,3090000,211,1977,2,미용업(일반),19770928,세나,18.36,02 9928457,...,NaN,2.0,NaN,N,NaN,3090000-211-1977-00002,내국인,NaN,서울특별시 도봉구 덕릉로57길 22 (창동),서울특별시 도봉구 창동 581번지 27호
4,도봉,3090000,211,1978,1,미용업(일반),19780522,형제,49.50,02 9542434,...,NaN,5.0,NaN,N,NaN,3090000-211-1978-00001,내국인,NaN,서울특별시 도봉구 마들로 731 (도봉동),서울특별시 도봉구 도봉동 626번지 90호

In [88]:
# 필요한 컬럼만 reindex
df_modified = df_all.reindex(columns=['지역', '업소명', '전화번호', '폐업일자', '폐업사유', '업태명', '허가(신고)번호', '소재지도로명', '소재지지번'])
df_modified

,지역,업소명,전화번호,폐업일자,폐업사유,업태명,허가(신고)번호,소재지도로명,소재지지번
0,도봉,샛별미용실,NaN,20190320.0,서울특별시 강북구로 전출처리됨,일반미용업,3090000-211-1971-00001,서울특별시 도봉구 삼양로 590 (쌍문동),서울특별시 도봉구 쌍문동 507번지 4호
1,도봉,장미용실,NaN,NaN,NaN,일반미용업,3090000-211-1974-00001,서울특별시 도봉구 도봉로121길 19 (쌍문동),서울특별시 도봉구 쌍문동 81번지 283호
2,도봉,자기연출미용실,NaN,NaN,NaN,일반미용업,3090000-211-1977-00001,서울특별시 도봉구 삼양로154길 33 (쌍문동),서울특별시 도봉구 쌍문동 493번지 5호
3,도봉,세나,NaN,NaN,NaN,일반미용업,3090000-211-1977-00002,서울특별시 도봉구 덕릉로57길 22 (창동),서울특별시 도봉구 창동 581번지 27호
4,도봉,형제,NaN,NaN,NaN,일반미용업,3090000-211-1978-00001,서울특별시 도봉구 마들로 731 (도봉동),서울특별시 도봉구 도봉동 626번지 90호
...,...,...,...,...,...,...,...,...,...
680,용산,오다헤어살롱미용실한남점,NaN,NaN,NaN,일반미용업,3020000-211-2020-00001,서울특별시 용산구 독서당로 70 현대리버티하우스 3층 306호 (한남동),서울특별시 용산구 한남동 258번지 현대리버티하우스
681,용산,언더풀,NaN,NaN,NaN,일반미용업,3020000-211-2020-00002,서울특별시 용산구 이태원로54길 16-3 B1층 101호 (한남동),서울특별시 용산구 한남동 682번지 13호
682,용산,컬러드바이,NaN,NaN,NaN,일반미용업,3020000-211-2020-00003,서울특별시 용산구 보광로59길 40 1층 201호 (이태원동),서울특별시 용산구 이태원동 66번지 3호
683,용산,진주살롱,NaN,NaN,NaN,일반미용업,3020000-211-2020-00004,서울특별시 용산구 회나무로13가길 53 1층 (이태원동),서울특별시 용산구 이태원동 258번지 340호
684,용산,아이앤투헤어럭셔리,NaN,NaN,NaN,일반미용업,3020000-211-2020-00005,서울특별시 용산구 이촌로 274 우진상가 105호 (이촌동),서울특별시 용산구 이촌동 300번지 322호

In [89]:
# 모든 컬럼값이 중복인 row 제거
df_modified.drop_duplicates(keep='last', inplace=True)
df_modified

,지역,업소명,전화번호,폐업일자,폐업사유,업태명,허가(신고)번호,소재지도로명,소재지지번
0,도봉,샛별미용실,NaN,20190320.0,서울특별시 강북구로 전출처리됨,일반미용업,3090000-211-1971-00001,서울특별시 도봉구 삼양로 590 (쌍문동),서울특별시 도봉구 쌍문동 507번지 4호
1,도봉,장미용실,NaN,NaN,NaN,일반미용업,3090000-211-1974-00001,서울특별시 도봉구 도봉로121길 19 (쌍문동),서울특별시 도봉구 쌍문동 81번지 283호
2,도봉,자기연출미용실,NaN,NaN,NaN,일반미용업,3090000-211-1977-00001,서울특별시 도봉구 삼양로154길 33 (쌍문동),서울특별시 도봉구 쌍문동 493번지 5호
3,도봉,세나,NaN,NaN,NaN,일반미용업,3090000-211-1977-00002,서울특별시 도봉구 덕릉로57길 22 (창동),서울특별시 도봉구 창동 581번지 27호
4,도봉,형제,NaN,NaN,NaN,일반미용업,3090000-211-1978-00001,서울특별시 도봉구 마들로 731 (도봉동),서울특별시 도봉구 도봉동 626번지 90호
...,...,...,...,...,...,...,...,...,...
680,용산,오다헤어살롱미용실한남점,NaN,NaN,NaN,일반미용업,3020000-211-2020-00001,서울특별시 용산구 독서당로 70 현대리버티하우스 3층 306호 (한남동),서울특별시 용산구 한남동 258번지 현대리버티하우스
681,용산,언더풀,NaN,NaN,NaN,일반미용업,3020000-211-2020-00002,서울특별시 용산구 이태원로54길 16-3 B1층 101호 (한남동),서울특별시 용산구 한남동 682번지 13호
682,용산,컬러드바이,NaN,NaN,NaN,일반미용업,3020000-211-2020-00003,서울특별시 용산구 보광로59길 40 1층 201호 (이태원동),서울특별시 용산구 이태원동 66번지 3호
683,용산,진주살롱,NaN,NaN,NaN,일반미용업,3020000-211-2020-00004,서울특별시 용산구 회나무로13가길 53 1층 (이태원동),서울특별시 용산구 이태원동 258번지 340호
684,용산,아이앤투헤어럭셔리,NaN,NaN,NaN,일반미용업,3020000-211-2020-00005,서울특별시 용산구 이촌로 274 우진상가 105호 (이촌동),서울특별시 용산구 이촌동 300번지 322호

In [90]:
# 중복 제거 전 : 28074 rows × 8 columns
# 중복 제거 후 : 24426 rows × 8 columns
print('중복 제거된 row 수 :', 28074 - 24426)

중복 제거된 row 수 : 3648

In [91]:
# '폐업일자'의 값이 null이면 영업중
# '폐업일자'의 값이 null이 아니면 폐업된 것으로 판단
# '폐업일자'가 notnull(폐업)인 불리언 배열
df_modified['폐업일자'].notnull()

0       True
1      False
2      False
3      False
4      False
       ...
680    False
681    False
682    False
683    False
684    False
Name: 폐업일자, Length: 24430, dtype: bool

In [92]:
# 불리언 배열로 df_modified의 폐업점 데이터 drop
df_modified.drop(df_modified['폐업일자'].notnull(), inplace=True)
df_modified

,지역,업소명,전화번호,폐업일자,폐업사유,업태명,허가(신고)번호,소재지도로명,소재지지번
2,도봉,자기연출미용실,NaN,NaN,NaN,일반미용업,3090000-211-1977-00001,서울특별시 도봉구 삼양로154길 33 (쌍문동),서울특별시 도봉구 쌍문동 493번지 5호
3,도봉,세나,NaN,NaN,NaN,일반미용업,3090000-211-1977-00002,서울특별시 도봉구 덕릉로57길 22 (창동),서울특별시 도봉구 창동 581번지 27호
4,도봉,형제,NaN,NaN,NaN,일반미용업,3090000-211-1978-00001,서울특별시 도봉구 마들로 731 (도봉동),서울특별시 도봉구 도봉동 626번지 90호
5,도봉,공주,NaN,NaN,NaN,일반미용업,3090000-211-1980-00001,서울특별시 도봉구 도봉로133길 40-32 (쌍문동),서울특별시 도봉구 쌍문동 22번지 1호
6,도봉,초원,NaN,NaN,NaN,일반미용업,3090000-211-1980-00002,서울특별시 도봉구 도봉로110나길 57 (창동),서울특별시 도봉구 창동 659번지 24호
...,...,...,...,...,...,...,...,...,...
680,용산,오다헤어살롱미용실한남점,NaN,NaN,NaN,일반미용업,3020000-211-2020-00001,서울특별시 용산구 독서당로 70 현대리버티하우스 3층 306호 (한남동),서울특별시 용산구 한남동 258번지 현대리버티하우스
681,용산,언더풀,NaN,NaN,NaN,일반미용업,3020000-211-2020-00002,서울특별시 용산구 이태원로54길 16-3 B1층 101호 (한남동),서울특별시 용산구 한남동 682번지 13호
682,용산,컬러드바이,NaN,NaN,NaN,일반미용업,3020000-211-2020-00003,서울특별시 용산구 보광로59길 40 1층 201호 (이태원동),서울특별시 용산구 이태원동 66번지 3호
683,용산,진주살롱,NaN,NaN,NaN,일반미용업,3020000-211-2020-00004,서울특별시 용산구 회나무로13가길 53 1층 (이태원동),서울특별시 용산구 이태원동 258번지 340호
684,용산,아이앤투헤어럭셔리,NaN,NaN,NaN,일반미용업,3020000-211-2020-00005,서울특별시 용산구 이촌로 274 우진상가 105호 (이촌동),서울특별시 용산구 이촌동 300번지 322호

In [93]:
# 폐업점 drop 전 : 24426 rows × 8 columns
# 폐업점 drop 후 : 24378 rows × 8 columns
print('drop된 폐업점 수 :', 24426 - 24378)

drop된 폐업점 수 : 48

In [94]:
len(df_modified[df_modified.duplicated(['소재지도로명'])])

2985

In [95]:
len(df_modified[df_modified.duplicated(['소재지지번'])])

2747

In [96]:
len(df_modified[df_modified.duplicated(['허가(신고)번호'])])

1849

In [97]:
len(df_modified[df_modified.duplicated(['업소명'])])

7454

In [98]:
# 도로명주소가 중복       2981개
# 지번주소가 중복         2743개
# 허가(신고)번호가 중복  1849개  
# 업소명이 중복           7450개 

# 어떻게 처리해야 할까?