In [329]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame
import glob

In [330]:
# glob 모듈의 glob 함수를 이용해서 구별 csv 파일이름 불러오기
# 각자 실행 환경 및 디렉토리 설정에 맞게 경로를 잘 맞출 것
file_list = glob.glob('./seoul_hairsalon_data/*.csv')
file_list

['./seoul_hairsalon_data\\dobong_salon.csv',
 './seoul_hairsalon_data\\dondaemun_salon.csv',
 './seoul_hairsalon_data\\dongjak_salon.csv',
 './seoul_hairsalon_data\\enpyeong_salon.csv',
 './seoul_hairsalon_data\\gangbuk_salon.csv',
 './seoul_hairsalon_data\\gangdong_salon.csv',
 './seoul_hairsalon_data\\gangnam_salon.csv',
 './seoul_hairsalon_data\\gangseo_salon.csv',
 './seoul_hairsalon_data\\geumcheon_salon.csv',
 './seoul_hairsalon_data\\guro_salon.csv',
 './seoul_hairsalon_data\\gwanak_salon.csv',
 './seoul_hairsalon_data\\gwangjin_salon.csv',
 './seoul_hairsalon_data\\jongro_salon.csv',
 './seoul_hairsalon_data\\joonggu_salon.csv',
 './seoul_hairsalon_data\\joonglang_salon.csv',
 './seoul_hairsalon_data\\mapo_salon.csv',
 './seoul_hairsalon_data\\nowon_salon.csv',
 './seoul_hairsalon_data\\seocho_salon.csv',
 './seoul_hairsalon_data\\seodaemun_salon.csv',
 './seoul_hairsalon_data\\seongbuk_salon.csv',
 './seoul_hairsalon_data\\seongdong_salon.csv',
 './seoul_hairsalon_data\\songpa_salon.csv',
 './seoul_hairsalon_data\\yangcheon_salon.csv',
 './seoul_hairsalon_data\\ydp_salon.csv',
 './seoul_hairsalon_data\\yongsan_salon.csv']

In [331]:
# 파일 개수 확인
len(file_list)

25

In [332]:
# 한글로 지역명이 담긴 list 생성
district_list = [
'도봉'
, '동대문'
, '동작'
, '은평'
, '강북'
, '강동'
, '강남'
, '강서'
, '금천'
, '구로'
, '관악'
, '광진'
, '종로'
, '중구'
, '중랑'
, '마포'
, '노원'
, '서초'
, '서대문'
, '성북'
, '성동'
, '송파'
, '양천'
, '영등포'
 ,'용산']

In [333]:
# 지역명 개수 확인
len(district_list)

25

In [334]:
# 25개의 csv파일을 읽어 생성한 DF를 저장할 리스트 생성
# range() 함수로 25개 요소 생성
df_list = list(range(25))

In [335]:
# 파일명이 저장된 file_list에서 하나씩 가져와 read_csv() 함수로 df_list에 저장
for i, file in enumerate(file_list):
    df_list[i] = pd.read_csv(file, encoding='cp949')

In [336]:
# 25개 DF가 모두 저장된 df_list
df_list[:1]

[        시군구코드  업종코드    년도  업소일련번호      업종명      신고일자      업소명  영업장면적(㎡)  \
 0     3090000   211  1971       1  미용업(일반)  19710527    샛별미용실     29.05
 1     3090000   211  1974       1  미용업(일반)  19740510     장미용실     13.69
 2     3090000   211  1977       1  미용업(일반)  19770128  자기연출미용실     18.00
 3     3090000   211  1977       2  미용업(일반)  19770928       세나     18.36
 4     3090000   211  1978       1  미용업(일반)  19780522       형제     49.50
 ...       ...   ...   ...     ...      ...       ...      ...       ...
 1061  3090000   211  2020       3  미용업(일반)  20200123     다연헤어     26.40
 1062  3090000   211  2020       4  미용업(일반)  20200213  리안헤어신창점     46.29
 1063  3090000   211  2020       5  미용업(일반)  20200218   수앤지헤어샵     27.00
 1064  3090000   211  2020       6  미용업(일반)  20200218    강민주헤어     16.96
 1065  3090000   211  2020       7  미용업(일반)  20200219      헤어팜     15.00

          소재지전화번호    영업자시작일  ...  양실수  의자수  욕실수  발한실 세탁기수  \
 0     02 9933947  19710527  ...  0.0  4.0  0.0    N  NaN
 1        9024674  20030318  ...  NaN  2.0  NaN    N  NaN
 2     02 9916085  19990127  ...  0.0  3.0  0.0    N  0.0
 3     02 9928457  19770928  ...  NaN  2.0  NaN    N  NaN
 4     02 9542434  19780522  ...  NaN  5.0  NaN    N  NaN
 ...          ...       ...  ...  ...  ...  ...  ...  ...
 1061         NaN  20200123  ...  0.0  0.0  0.0    N  0.0
 1062         NaN  20200213  ...  0.0  0.0  0.0    N  0.0
 1063         NaN  20200218  ...  0.0  0.0  0.0    N  0.0
 1064         NaN  20200218  ...  0.0  0.0  0.0    N  0.0
 1065         NaN  20200219  ...  0.0  0.0  0.0    N  0.0

                     허가(신고)번호  내외국인구분   국적  \
 0     3090000-211-1971-00001     내국인  NaN
 1     3090000-211-1974-00001     내국인  NaN
 2     3090000-211-1977-00001     내국인  NaN
 3     3090000-211-1977-00002     내국인  NaN
 4     3090000-211-1978-00001     내국인  NaN
 ...                      ...     ...  ...
 1061  3090000-211-2020-00003     내국인  NaN
 1062  3090000-211-2020-00004     내국인  NaN
 1063  3090000-211-2020-00005     내국인  NaN
 1064  3090000-211-2020-00006     내국인  NaN
 1065  3090000-211-2020-00007     내국인  NaN

                                              소재지도로명  \
 0                           서울특별시 도봉구 삼양로 590 (쌍문동)
 1                        서울특별시 도봉구 도봉로121길 19 (쌍문동)
 2                        서울특별시 도봉구 삼양로154길 33 (쌍문동)
 3                          서울특별시 도봉구 덕릉로57길 22 (창동)
 4                           서울특별시 도봉구 마들로 731 (도봉동)
 ...                                             ...
 1061                   서울특별시 도봉구 도당로17길 22 1층 (방학동)
 1062                      서울특별시 도봉구 덕릉로 235 1층 (창동)
 1063                   서울특별시 도봉구 도봉로110바길 5 1층 (창동)
 1064  서울특별시 도봉구 덕릉로59아길 58 601동 1층 101호 (창동 북한산팰리스)
 1065                  서울특별시 도봉구 삼양로154길 42 1층 (쌍문동)

                                           소재지지번
 0                     서울특별시 도봉구 쌍문동  507번지 4호
 1                    서울특별시 도봉구 쌍문동  81번지 283호
 2                     서울특별시 도봉구 쌍문동  493번지 5호
 3                     서울특별시 도봉구 창동  581번지 27호
 4                    서울특별시 도봉구 도봉동  626번지 90호
 ...                                         ...
 1061                   서울특별시 도봉구 방학동  642번지  1층
 1062               서울특별시 도봉구 창동  578번지 146호  1층
 1063                서울특별시 도봉구 창동  651번지 34호  1층
 1064  서울특별시 도봉구 창동  607번지 25호 601 북한산팰리스 1층-101
 1065                서울특별시 도봉구 쌍문동  495번지 9호  1층

 [1066 rows x 29 columns]]

In [337]:
# df_list의 0번째 인덱스에는 도봉구의 데이터(DF)가 들어있다.
df_list[0].head()

,시군구코드,업종코드,년도,업소일련번호,업종명,신고일자,업소명,영업장면적(㎡),소재지전화번호,영업자시작일,...,양실수,의자수,욕실수,발한실,세탁기수,허가(신고)번호,내외국인구분,국적,소재지도로명,소재지지번
0,3090000,211,1971,1,미용업(일반),19710527,샛별미용실,29.05,02 9933947,19710527,...,0.0,4.0,0.0,N,NaN,3090000-211-1971-00001,내국인,NaN,서울특별시 도봉구 삼양로 590 (쌍문동),서울특별시 도봉구 쌍문동 507번지 4호
1,3090000,211,1974,1,미용업(일반),19740510,장미용실,13.69,9024674,20030318,...,NaN,2.0,NaN,N,NaN,3090000-211-1974-00001,내국인,NaN,서울특별시 도봉구 도봉로121길 19 (쌍문동),서울특별시 도봉구 쌍문동 81번지 283호
2,3090000,211,1977,1,미용업(일반),19770128,자기연출미용실,18.00,02 9916085,19990127,...,0.0,3.0,0.0,N,0.0,3090000-211-1977-00001,내국인,NaN,서울특별시 도봉구 삼양로154길 33 (쌍문동),서울특별시 도봉구 쌍문동 493번지 5호
3,3090000,211,1977,2,미용업(일반),19770928,세나,18.36,02 9928457,19770928,...,NaN,2.0,NaN,N,NaN,3090000-211-1977-00002,내국인,NaN,서울특별시 도봉구 덕릉로57길 22 (창동),서울특별시 도봉구 창동 581번지 27호
4,3090000,211,1978,1,미용업(일반),19780522,형제,49.50,02 9542434,19780522,...,NaN,5.0,NaN,N,NaN,3090000-211-1978-00001,내국인,NaN,서울특별시 도봉구 마들로 731 (도봉동),서울특별시 도봉구 도봉동 626번지 90호

In [338]:
# df_list에 저장된 각각의 DF에 column명만 불러오기 예시
df_list[0].columns

Index(['시군구코드', '업종코드', '년도', '업소일련번호', '업종명', '신고일자', '업소명', '영업장면적(㎡)',
       '소재지전화번호', '영업자시작일', '법인명', '소재지시작일', '행정동명', '폐업일자', '폐업사유', '업태명',
       '위생교육수료일자', '객실수', '한실수', '양실수', '의자수', '욕실수', '발한실', '세탁기수',
       '허가(신고)번호', '내외국인구분', '국적', '소재지도로명', '소재지지번'],
      dtype='object')

In [339]:
# 각각의 DF의 컬럼명이 같은지 비교
for i, df in enumerate(df_list):
    if i < 24:
        # i번쨰 DF 컬럼과 i+1번째 DF 컬럼을 비교한 불리언 배열에 False가 있는지 출력
        print(False in df_list[i].columns == df_list[i+1].columns ) 
    else:
        break

False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False

In [340]:
# 모든 DF의 컬럼명이 같음을 확인하였다.

In [341]:
# df_list에 저장된 모든 DF에 '지역' 상위 인덱스 추가하기
for i, df in enumerate(df_list):
    df_list[i].index = [[district_list[i]]*len(df_list[i]), df_list[i].index]

In [342]:
# 인덱스에 '지역'이 추가되고 그 값이 제대로 들어간 모습
# df_list의 0번째 DF인 도봉구의 데이터로 확인
df_list[0].head()

        시군구코드  업종코드    년도  업소일련번호      업종명      신고일자      업소명  영업장면적(㎡)  \
도봉 0  3090000   211  1971       1  미용업(일반)  19710527    샛별미용실     29.05
   1  3090000   211  1974       1  미용업(일반)  19740510     장미용실     13.69
   2  3090000   211  1977       1  미용업(일반)  19770128  자기연출미용실     18.00
   3  3090000   211  1977       2  미용업(일반)  19770928       세나     18.36
   4  3090000   211  1978       1  미용업(일반)  19780522       형제     49.50

         소재지전화번호    영업자시작일  ...  양실수  의자수  욕실수  발한실 세탁기수  \
도봉 0  02 9933947  19710527  ...  0.0  4.0  0.0    N  NaN
   1     9024674  20030318  ...  NaN  2.0  NaN    N  NaN
   2  02 9916085  19990127  ...  0.0  3.0  0.0    N  0.0
   3  02 9928457  19770928  ...  NaN  2.0  NaN    N  NaN
   4  02 9542434  19780522  ...  NaN  5.0  NaN    N  NaN

                    허가(신고)번호  내외국인구분   국적                      소재지도로명  \
도봉 0  3090000-211-1971-00001     내국인  NaN     서울특별시 도봉구 삼양로 590 (쌍문동)
   1  3090000-211-1974-00001     내국인  NaN  서울특별시 도봉구 도봉로121길 19 (쌍문동)
   2  3090000-211-1977-00001     내국인  NaN  서울특별시 도봉구 삼양로154길 33 (쌍문동)
   3  3090000-211-1977-00002     내국인  NaN    서울특별시 도봉구 덕릉로57길 22 (창동)
   4  3090000-211-1978-00001     내국인  NaN     서울특별시 도봉구 마들로 731 (도봉동)

                           소재지지번
도봉 0   서울특별시 도봉구 쌍문동  507번지 4호
   1  서울특별시 도봉구 쌍문동  81번지 283호
   2   서울특별시 도봉구 쌍문동  493번지 5호
   3   서울특별시 도봉구 창동  581번지 27호
   4  서울특별시 도봉구 도봉동  626번지 90호

[5 rows x 29 columns]

In [343]:
# df_list에 담긴 DF를 concat() 함수로 합치기
df_all = pd.concat(df_list)
df_all.tail() # 마지막 5개 데이터 확인

          시군구코드  업종코드    년도  업소일련번호      업종명      신고일자           업소명  \
용산 680  3020000   211  2020       1  미용업(일반)  20200106  오다헤어살롱미용실한남점
   681  3020000   211  2020       2  미용업(일반)  20200114           언더풀
   682  3020000   211  2020       3  미용업(일반)  20200122         컬러드바이
   683  3020000   211  2020       4  미용업(일반)  20200131          진주살롱
   684  3020000   211  2020       5  미용업(일반)  20200221     아이앤투헤어럭셔리

        영업장면적(㎡) 소재지전화번호    영업자시작일  ...  양실수  의자수  욕실수  발한실 세탁기수  \
용산 680    148.60     NaN  20200106  ...  0.0  8.0  0.0    N  0.0
   681     40.86     NaN  20200114  ...  0.0  2.0  0.0    N  0.0
   682     34.29     NaN  20200122  ...  0.0  2.0  0.0    N  0.0
   683     26.94     NaN  20200131  ...  0.0  3.0  0.0    N  0.0
   684     42.00     NaN  20200221  ...  0.0  0.0  0.0    N  0.0

                      허가(신고)번호  내외국인구분   국적  \
용산 680  3020000-211-2020-00001     내국인  NaN
   681  3020000-211-2020-00002     내국인  NaN
   682  3020000-211-2020-00003     내국인  NaN
   683  3020000-211-2020-00004     내국인  NaN
   684  3020000-211-2020-00005     내국인  NaN

                                          소재지도로명  \
용산 680  서울특별시 용산구 독서당로 70 현대리버티하우스 3층 306호 (한남동)
   681     서울특별시 용산구 이태원로54길 16-3 B1층 101호 (한남동)
   682        서울특별시 용산구 보광로59길 40 1층 201호 (이태원동)
   683           서울특별시 용산구 회나무로13가길 53 1층 (이태원동)
   684         서울특별시 용산구 이촌로 274 우진상가 105호 (이촌동)

                                 소재지지번
용산 680  서울특별시 용산구 한남동  258번지  현대리버티하우스
   681      서울특별시 용산구 한남동  682번지 13호
   682       서울특별시 용산구 이태원동  66번지 3호
   683    서울특별시 용산구 이태원동  258번지 340호
   684     서울특별시 용산구 이촌동  300번지 322호

[5 rows x 29 columns]

In [344]:
# 데이터 개수 확인
len(df_all)

28074

In [345]:
# 업소명에 '?' 문자를 '샵' 문자로 치환하기
df_all['업소명'] = list(map(lambda x: x.replace('?', '샵'), df_all['업소명'].values))

In [346]:
# 모든 컬럼값이 중복인 row 제거
df_all.drop_duplicates(keep='last', inplace=True)

# 데이터 개수 확인
len(df_all)

28025

In [347]:
# 중복 제거 전 row 수 : 28074
# 중복 제거 후 row 수 : 28025
print('모든 데이터가 일치하여 제거된 중복 데이터 :', 28074-28025, '개')

모든 데이터가 일치하여 제거된 중복 데이터 : 49 개

In [348]:
# '폐업일자'의 값이 NaN이면 영업중
# '폐업일자'의 값이 NaN이 아니면 폐업된 것으로 판단
# '폐업일자' 컬럼에 isnull() 함수를 적용한 불리언 배열
df_all['폐업일자'].isnull()

도봉  0      False
    1       True
    2       True
    3       True
    4       True
           ...
용산  680     True
    681     True
    682     True
    683     True
    684     True
Name: 폐업일자, Length: 28025, dtype: bool

In [349]:
df_all[df_all['폐업일자'].notnull()]['폐업일자']

도봉  0      20190320.0
    23     20170724.0
    33     20200114.0
    36     20151105.0
    42     20180621.0
              ...
용산  659    20200302.0
    661    20190911.0
    664    20191216.0
    665    20191216.0
    667    20191230.0
Name: 폐업일자, Length: 8553, dtype: float64

In [350]:
# 폐업한 미용실 정보가 8553개나 된다.

In [351]:
# '폐업일자' 컬럼이 NaN인, 영업중인 행만 불리언 색인
df_all = df_all[df_all['폐업일자'].isnull()]

# 데이터 개수 확인
len(df_all)

19472

In [352]:
# 폐업점 drop 전 : 28025 rows
# 폐업점 drop 후 : 19472 rows
print('drop된 폐업점 수 :', 28025 - 19472)

drop된 폐업점 수 : 8553

---
- 아래부터는 전처리 작업 완료(x)
- 여러가지 데이터 뽑아 보면서 고민중

In [368]:
# 전체 데이터 중 1개 row 조회
df_all.head(1)

,,시군구코드,업종코드,년도,업소일련번호,업종명,신고일자,업소명,영업장면적(㎡),소재지전화번호,영업자시작일,...,양실수,의자수,욕실수,발한실,세탁기수,허가(신고)번호,내외국인구분,국적,소재지도로명,소재지지번
도봉,1,3090000,211,1974,1,미용업(일반),19740510,장미용실,13.69,9024674,20030318,...,NaN,2.0,NaN,N,NaN,3090000-211-1974-00001,내국인,NaN,서울특별시 도봉구 도봉로121길 19 (쌍문동),서울특별시 도봉구 쌍문동 81번지 283호

In [354]:
# 데이터 column명 확인
df_all.columns

Index(['시군구코드', '업종코드', '년도', '업소일련번호', '업종명', '신고일자', '업소명', '영업장면적(㎡)',
       '소재지전화번호', '영업자시작일', '법인명', '소재지시작일', '행정동명', '폐업일자', '폐업사유', '업태명',
       '위생교육수료일자', '객실수', '한실수', '양실수', '의자수', '욕실수', '발한실', '세탁기수',
       '허가(신고)번호', '내외국인구분', '국적', '소재지도로명', '소재지지번'],
      dtype='object')

In [357]:
# 업종명 종류
set(df_all['업종명'].values)

{'미용업(일반)'}

In [358]:
# 업태명 종류
set(df_all['업태명'].values)

{'기타', '네일아트업', '메이크업업', '숙박업 기타', '일반미용업', '일반이용업'}

In [359]:
# '업태명'이 '네일아트업'으로 등록된 데이터 수 
len(df_all[df_all['업태명'] == '네일아트업'])

185

In [355]:
# 전체 데이터 중에 '업소명'에 '네일'이 포함된 이름 뽑아보기
nail_list = list(filter(lambda x: '네일' in x, df_all['업소명'].values))
nail_list

['엣지헤어앤네일',
 '시크릿 네일',
 '윙크헤어&네일',
 '핑크네일',
 '핑크네일.속눈썹',
 '포쉬 네일',
 '포쉬 네일',
 '포쉬 네일',
 '포쉬 네일',
 '더키네일&속눈썹',
 '더네일',
 '네일스토리',
 '루비네일',
 '네일플러스',
 '수앤수 네일아트',
 '수앤수 네일아트',
 '수앤수 네일아트',
 '수앤수 네일아트',
 '비앤비네일',
 '맑은 네일',
 '토마토네일',
 '미스네일',
 '네일 에비뉴',
 '시트린네일',
 '네일스캐치',
 '네일스캐치',
 '네일스캐치',
 '네일스캐치',
 '비비드네일&속눈썹',
 '쥬네일',
 '네일앤케이눈썹',
 '네일앤케이눈썹',
 '루하스네일엔케이눈썹',
 '루하스네일엔케이눈썹',
 '네일앤케이눈썹',
 '네일앤케이눈썹',
 '루하스네일엔케이눈썹',
 '루하스네일엔케이눈썹',
 '뷰티헤어&네일',
 '네일맑음',
 '네일맑음',
 '제이제이헤어네일(JJ HAIR NAIL)',
 '네일스퀘어',
 '네일애',
 '정현네일',
 '네일카페',
 'L-Nail(엘네일)',
 '네일하우스',
 '마리골드 네일',
 '솜씨네일',
 '티나조네일',
 '조은 네일',
 '반디네일호텔오크우드점',
 '네코네일',
 '파스텔네일',
 '코코네일',
 '포쉬네일 가로수길점',
 '네일라인 가로수길점',
 '네일 원',
 '네일탐이나',
 '울랄라 네일',
 '뷰티네일',
 '루나네일',
 '네일앤네일',
 '코코네일',
 '엠네일(M nail)',
 '네일아트 인',
 '네일 feliz(펠리스)',
 '으뜸네일샵',
 '으뜸네일샵',
 '네일홀릭',
 'W 에비뉴 헤어살롱 네일',
 '트윙클네일',
 '네일 바이 민(nail by min)',
 '네일트리',
 '아이뷰 속눈썹 네일',
 '오네일 앤 속눈썹',
 '네일 하니',
 '네일 하니',
 '개봉동 네일 속눈썹 발라버려',
 '개봉동 네일 속눈썹 발라버려',
 '윤헤어&네일',
 '여우별 네일아트',
 '네일 데이',
 '프리티 네일',
 '호박네일',
 '네일온',
 '실버네일',
 '블링블링네일샵',
 '부미 네일 속눈썹 헤어',
 '예그리나네일',
 '네일의여왕',
 '네일라',
 '라임헤어&네일',
 '네일여행',
 '코코로네일',
 '코코로네일',
 '프랜들리네일',
 '짱 네일아트',
 '네일리본',
 '찰스네일',
 '찰스네일',
 '엘사 네일',
 '엠헤어네일',
 "Song's 네일",
 '네일스토리',
 '프린 네일',
 '푸딩네일',
 '네일',
 '삼층네일',
 '바오네일',
 '네일퀸',
 '뉴욕네일앤스파',
 '내일은네일',
 '네일앤네일(Nail&nail)',
 '칼라네일',
 '루미네일',
 'S 네일',
 '쉬끄네일',
 '플로르네일',
 '오렌지네일',
 '데이지 네일',
 '윤호네일',
 '윤호네일',
 '윤호네일',
 '윤호네일',
 '오키네일',
 '오즈네일샵',
 '퀸즈속눈썹네일붙임머리',
 '네일 엔',
 '지네일',
 '타라네일 & 속눈썹',
 '엔팁네일 (N. TIP nail & make up)',
 'ug 젤네일 #',
 '숲속랜드네일아트',
 '마레네일',
 '여기!네일&속눈썹',
 '제니네일샵',
 '제이제이네일',
 '캣츠네일',
 '더네일샵(the NAIL#)',
 '에스네일(S nail)',
 '헤어별 네일',
 'young nail(영네일)',
 '벨르네일아트',
 '벨르네일아트',
 '팅커벨 네일아트',
 '꼼꼼네일',
 '네일뷰',
 '카라네일',
 '네일앤젤',
 '퀸네일',
 '사틴네일',
 '루덴네일',
 '네일블랑',
 '앤네일(Ann nail)',
 '파라곤네일아트',
 '잇네일',
 '네코네일',
 '디네일',
 '예쁜손 네일 아트',
 '예쁜손 네일 아트',
 '에스 네일(S nail)',
 '디오네일',
 '다이타네일',
 '네일타임',
 '네일스토리',
 '네일클로버',
 '네일린']

In [356]:
# 전체 데이터 중에 '업소명'에 '네일'이 들어가는 데이터 수
len(nail_list)

169

In [360]:
# '업태명'이 '네일아트업'이 아닌 데이터 - not_nail
not_nail = df_all[df_all['업태명'] != '네일아트업']

In [361]:
# not_nail 중에 '업소명'에 '네일'아 들어가는 경우
nail_list2 = list(filter(lambda x: '네일' in x, not_nail['업소명'].values))
print(nail_list2)
print()
print('개수 :', len(nail_list2))

['엣지헤어앤네일', '윙크헤어&네일', '핑크네일.속눈썹', '네일플러스', '뷰티헤어&네일', '제이제이헤어네일(JJ HAIR NAIL)', '네일스퀘어', '네일애', 'L-Nail(엘네일)', '조은 네일', '네코네일', '파스텔네일', '뷰티네일', '엠네일(M nail)', 'W 에비뉴 헤어살롱 네일', '네일트리', '아이뷰 속눈썹 네일', '오네일 앤 속눈썹', '윤헤어&네일', '호박네일', '부미 네일 속눈썹 헤어', '라임헤어&네일', '네일리본', '엠헤어네일', '데이지 네일', '오키네일', '퀸즈속눈썹네일붙임머리', '지네일', '여기!네일&속눈썹', '에스네일(S nail)', '헤어별 네일', 'young nail(영네일)']

개수 : 32

In [362]:
len(df_all[df_all.duplicated(['소재지도로명'])])

4489

In [363]:
len(df_all[df_all.duplicated(['소재지지번'])])

4633

In [364]:
len(df_all[df_all.duplicated(['허가(신고)번호'])])

5098

In [365]:
len(df_all[df_all.duplicated(['업소명'])])

7576

In [366]:
# 모든 데이터가 일치하여 제거된 중복 데이터 수
#     49개
    
# drop된 폐업점 데이터 수
#     8553개

############################################################
    
# 업종명 종류
#     '미용업(일반)'
#     1개

# 업태명 종류
#     '기타', '네일아트업', '메이크업업', '숙박업 기타', '일반미용업', '일반이용업'
#     6개

# '업태명'이 '네일아트업'으로 등록된 데이터 수 
#     185개

# 전체 데이터 중에 '업소명'에 '네일'이 들어가는 데이터 수
#     169개

# '업태명'이 '네일아트업'이 아닌 데이터 중 '업소명'에 '네일'이 들어가는 데이터 수
#      32개
    
# 도로명주소가 중복       4489개
# 지번주소가 중복         4633개
# 허가(신고)번호가 중복   5098개  
# 업소명이 중복           7576개 

# 어떻게 처리해야 할까?